# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python files
[*.py]
indent_size = 4
max_line_length = 120

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile,*.mak]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.cpp,*.h]
indent_size = 2

[*.cfg]
insert_final_newline = false

[*.feature]
indent_size = 4
