manifests.yaml
PrivateRules.mak

build/*
docs/build/*
docs/src/api/_autosummary/**/*.rst*

# Deployments
build
charts/**/charts/
**.tgz
Chart.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.coverage

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

docs/build/*
docs/src/api/cpp/**/*.rst*
docs/src/api/python/_autosummary/**/*.rst*

# Jupyter notebook
notebooks/.ipynb_checkpoints

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

## VSCODE ##
.vscode
